
/*Form*/
.send {
  font-family: "Space mono", monospace;
  padding-top: 30px;
  float: right;
  cursor: pointer;
  font-size: 22px;
  color: #cfd8dc;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.send:hover {
  border-bottom: 2px dotted #cfd8dc;
  padding-bottom: 5px;
}

.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 75%;
}
.padding-16 {
  border-radius: 3px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.form {
  padding-left: 200px;
}
.button {
  background: black;
  border: none;
}